/bin
/bin/
backup/
cache/
graphs/
graphsMapHelper/
/perceptlog/
perceptlog/
replays/
log/
logs/
results/
*.raw
*.log
xmls/
*~
*.bk
e_r_r_o_r.txt
.stop___MAS
agent1_problem.pddl
agent2_problem.pddl
agent3_problem.pddl
agent4_problem.pddl
agent5_problem.pddl
agent6_problem.pddl
agent7_problem.pddl
agent8_problem.pddl
agent9_problem.pddl
agent10_problem.pddl
output.sas
run.sh

### Gradle ### 
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
